<div class="table-responsive-vertical md-whiteframe-z1" id="classification_div">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
          <span><b>{{pageLabel}}</b></span>
      </div>
      <div class="md-toolbar-tools">
          <span>Predictions : {{selectedLog}}</span>
      </div>
      <div class="md-toolbar-tools">
        <span>Select Classification Method:</span>
        <md-select ng-model="selectedClassifier" placeholder="Select Classification" ng-change="updateClassifier()">
          <md-option ng-repeat="(key, value) in classifiers" ng-value="key">
            {{value}}
          </md-option>
        </md-select>
      </div>
      <div class="md-toolbar-tools">
          <md-input-container class="md-block">
              <label>Prefix Length</label>
              <input ng-model="prefixLength">
          </md-input-container>
      </div>
      <div class="md-toolbar-tools">
        <span>Business Rule:</span>
        <md-select ng-model="selectedLTL" ng-change="updateLTL()">
          <md-option ng-repeat="(key, value) in ltl" ng-value="key">
            {{value}}
          </md-option>
        </md-select>
      </div>
      <div class="md-toolbar-tools" ng-hide="hideLTL">
        <span>Activity A:</span>
        <md-select ng-model="selectedActivityA" ng-change="updateActivityA()">
          <md-option ng-repeat="(key, value) in activities" ng-value="key">
            {{value}}
          </md-option>
        </md-select>
        <span>Activity B:</span>
        <md-select ng-model="selectedActivityB" ng-change="updateActivityB()">
          <md-option ng-repeat="(key, value) in activities" ng-value="key">
            {{value}}
          </md-option>
        </md-select>
      </div>
    </md-toolbar>

    <form>
      <div class="button-toolbar" layout="row" layout-align="end center">
          <button class="md-primary" ng-click="train()">Train And Predict</button>
      </div>

      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="General Results">
              <md-content class="md-padding">
                <div layout-gt-md="row">
                   <div id="table_div" style="width: 90%;"></div>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Step Results">
              <md-content class="md-padding">
                <div layout-gt-md="row">
                  <div id="step_table_div" style="width: 90%;"></div>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Summary: Pie Chart">
              <md-content class="md-padding">
                <div layout-gt-md="row">
                  <div id="prediction_pie_chart_div" style="width: 50%;"></div>
                </div>
                <div layout-gt-md="row">
                  <div id="actual_pie_chart_div" style="width: 50%;"></div>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </form>
</div>