<div class="table-responsive-vertical md-whiteframe-z1" id="classification_div" ng-controller="ClassificationController">
  <md-content layout-padding>
    <form>
      <div class="md-toolbar-tools">
        <span>Settings</span>
      </div>
      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <span>Training File</span> 
            <input type="file" id="train" ngf-select ng-model="train" name="train" ngf-accept="'*/*'"/>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <span>Test File</span> 
            <input type="file" id="test" ngf-select ng-model="test" name="test" ngf-accept="'*/*'"/>
          </md-input-container> 
        </div>
      </div>
      <div layout="row">
        <div flex>
          <md-select ng-model="selectedClassifier" placeholder="Select Classification Method">
            <md-option ng-repeat="(key, value) in classifiers" ng-value="key">
              {{value}}
            </md-option>
          </md-select>
        </div>
        <div flex>
          <md-select ng-model="selectedClusterer" placeholder="Select Clustering Method">
            <md-option ng-repeat="(key, value) in clusterers" ng-value="key">
              {{value}}
            </md-option>
          </md-select>
        </div>
      </div>
      <div layout="row">
        <div flex>
            <md-input-container class="md-block">
                <label>LTL Formula</label>
                <input ng-model="prefix">
            </md-input-container>
        </div>
        <div flex>
            <md-input-container class="md-block">
                <label>Prefix (Separate intervals by comma)</label>
                <input ng-model="prefix">
            </md-input-container>
        </div>
      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
          <button class="md-primary" ng-click="submit()">Train and Predict</button>
      </div>
    </form>
  </md-content>
  <md-content layout-padding>
      <div class="md-toolbar-tools">
        <span>Results</span>
      </div>

  </md-content>
</div>