<div id="main" ng-controller="MainController" id="dashboard_div">
  <md-toolbar class="md-table-toolbar md-default" layout-gt-md="row">
  	<div class="md-toolbar-tools">
  		<span>Log:</span>
      <md-input-container>
          <md-select ng-model="selectedLog" placeholder="Select Log" ng-change="update()">
            <md-option ng-repeat="log in logs" ng-value="log"">
              {{log}}
            </md-option>
          </md-select>
      </md-input-container>
  <!--     <div class="md-toolbar-tools">
          <small>**Log uploading is currently disabled for maintenance purposes.</small>
      </div> -->
  	</div>
  <!-- 	<div layout-align="end center">
  		<md-button href="/logs" class="md-accent">Upload New Log</md-button>
  	</div> -->
  </md-toolbar>
  <div layout-gt-md="row">
    <small>**Log uploading is currently disabled.</small>
  </div>
  <div layout-gt-md="row">
    <panel-widget flex title="Number of Traces" class="fixed-height-widget">
      <md-content class="md-padding" ng-controller="TracesController">
        <center><md-progress-circular md-mode="indeterminate" ng-show="loading" md-diameter="50"></md-progress-circular></center>
        <div id="traces_chart" style="width: 100%;"></div>
      </md-content>
    </panel-widget>
  </div>
  <div layout-gt-md="row">
    <panel-widget flex title="Number of Resources" class="fixed-height-widget">
      <md-content class="md-padding" ng-controller="ResourcesController">
        <center><md-progress-circular md-mode="indeterminate" ng-show="loading" md-diameter="50"></md-progress-circular></center>
        <div id="resources_chart" style="width: 100%;"></div>
      </md-content>
    </panel-widget>
  </div>
  <div layout-gt-md="row">
    <panel-widget flex title="Most Executed Events" class="fixed-height-widget">
      <md-content class="md-padding" ng-controller="EventExecutionsController">
        <center><md-progress-circular md-mode="indeterminate" ng-show="loading" md-diameter="50"></md-progress-circular></center>
        <div id="events_chart" style="width: 100%;"></div>
      </md-content>
    </panel-widget>
  </div>
</div>