<md-toolbar class="md-table-toolbar md-default" layout-gt-md="row">
	<div class="md-toolbar-tools">
		<span>Log:</span>
    <md-input-container ng-controller="MainController">
        <md-select ng-model="selectedLog" placeholder="Select Log" ng-change="update()">
          <md-option ng-repeat="log in logs" ng-value="log"">
            {{log}}
          </md-option>
        </md-select>
    </md-input-container>
	</div>
	<div layout-align="end center">
		<md-button href="/logs" class="md-accent">Upload New Log</md-button>
	</div>
</md-toolbar>

<div layout-gt-md="row">
  <panel-widget flex title="Number of Traces" class="fixed-height-widget">
    <md-content class="md-padding" ng-controller="TracesController">
      <div id="traces_chart" style="width: 90%;"></div>
    </md-content>
  </panel-widget>
  <panel-widget flex title="Number of Resources" class="fixed-height-widget">
    <md-content class="md-padding" ng-controller="ResourcesController">
      <div id="resources_chart" style="width: 90%;"></div>
    </md-content>
  </panel-widget>
  <panel-widget flex title="Most Executed Events" class="fixed-height-widget">
    <md-content class="md-padding" ng-controller="EventExecutionsController">
      <div id="events_chart" style="width: 90%;"></div>
    </md-content>
  </panel-widget>
</div>

<div layout-gt-md="row"><!-- 
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget> -->
</div>

<div layout-gt-md="row">
  <!-- <panel-widget flex title="Events" template="app/views/partials/eventexecutions.html" class="fixed-height-widget"></panel-widget> -->
  <!-- <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget> -->
</div>
