<div class="table-responsive-vertical md-whiteframe-z1">
    <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
    <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Upload Log</span>
    </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
    </div>
    </md-toolbar>
</div>