<div class="table-responsive-vertical md-whiteframe-z1" id="logs_div">
    <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
    <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Upload Log</span>
    </div>
    </md-toolbar>
    <md-content layout-padding>
        <div>
          <form ng-controller="LogsController">

            <md-input-container class="md-block">
                <label>Name</label>
                <input ng-model="log.name">
            </md-input-container>
<!--             <md-input-container class="md-block">
                <label>Enter Description</label>
                <textarea ng-model="log.description" rows="5" md-select-on-focus></textarea>
            </md-input-container> -->
            <md-input-container>
                <!-- <label for="log.file">Upload Log</label> -->
<!--                 <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</div> -->
                <input type="file" id="file" ngf-select ng-model="file" name="file" ngf-accept="'*/*'"/>
            </md-input-container>       

            <div class="button-toolbar" layout="row" layout-align="end center">
                <button class="md-primary" ng-click="submit()">Upload</button>
            </div>
          </form>
        </div>
    </md-content>

</div>